.friend-model-details-container{

    .title-friend-kit-detail{
        text-align: center;
        margin: 10px 0;
    }

    .details-friend-kit{
        margin: 20px;
    }

    .img-box-detail{
        width: 250px;
    }

    .title-friend-pictures{
        margin: 10px 0;
    }

    .picture-model-container{
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        gap : 10px;
    }

    .img-built-model{
        width: 350px;
    }



    @media screen and (max-width: 768px) {
        grid-area: 1/1/2/2;
        width: 100vw;

        .picture-model-container{
            flex-direction: column;
            align-items: center;
        }
    }

}