.builders-container-page {


    .builders-container-title{
        text-align: center;
        margin-bottom: 20px;
    }

    .builder-search-label{
        text-align: center;
        width: 60%;
        margin: 10px auto;
        display: block;
    }

    .find-builder-input{
        margin-left: 10px;
        line-height: 1.5rem;
        padding-left: 3px;
    }

    .builder-container {
        padding: 0 10px;    
        margin :0 20px;
    }

    .add-builder-container{
        width: 80%;
        margin : 30px auto;
    }

    .add-builder-title{
        text-align: center;
    }

    .builder-add-form{
        display: flex;
        flex-direction: column;
    }

    .builder-add-label{
        margin: 10px;
    }

    .builder-add-name{
        margin-left: 10px;
        padding-left: 3px;
        line-height: 1.5rem;
    }

    .builder-add-btn{
       width: 150px;
       margin: 10px auto;
       line-height: 1.5rem;
       font-size: 1.2rem;
    }

    .builder-delete:hover{
        color :red;
    }
    
    .builder-add-select{
        height: 1.2rem;

    }

    .icon-add-builder-button{
        margin : 0 10px;
        min-height: 20px;
        min-width: 20px;
    }

    @media screen and (max-width: 768px) {

        .builder-container {
            width: 95vw;
        }
        .find-builder-input{
            margin-left: 0;
            margin-top: 10px;
        }

        .add-builder-container{
            width: 80%;
            margin : 10px auto;
        }
    }
}