.login-container{
    width: 350px;
    margin: 20px auto 0;
    border-radius: 10px;
    background-color: var(--menu-color);
    padding : 20px;

    .login-title{
        text-align: center;
    }

    .login-error-msg{
        margin: 5px;
        padding: 5px;
        background-color: rgb(208, 135, 135);
        color : red;
    }

    .login-form{
        display: flex;
        flex-direction: column;
    }

    .login-label{
        display: flex;
        flex-direction: column;
        margin: 10px;
    }

    .input-login-form{
        margin-left: 5px;
        padding-left: 2px;
        background-color: white;
        border-radius: 5px;
        height: 25px;
    }

    .login-btn{
        width: 150px;
        height: 25px;
        border-radius: 5px;
        margin : 20px auto;
    }

    .login-footer{
        margin-top: 20px;
    }
}