.friend-bluid-message-container{
    border: 1px solid rgb(157, 157, 157);
    border-radius: 15px;
    padding: 10px;
    margin : 10px;
    -webkit-box-shadow: 5px 5px 16px 2px #8A8A8A; 
    box-shadow: 5px 5px 16px 2px #8A8A8A;

    .friend-identity-message-container{
        display: flex;
        gap : 20px;
        align-items: center;
        margin-bottom: 10px;    
    }
}