.container-Card{
    margin : 20px;
    .card-settings{
        height: 200px;
        width: 200px;
        border: 1px solid black;
        box-shadow:  0 4px 8px rgba(0,0,0,0.2);
        -webkit-box-shadow:  0 4px 8px rgba(0,0,0,0.2);
    }

    .flip-card-front, .flip-card-back{
        height: 100%;
    }

    .flip-card-front{
        background-color: #bbb;
        color : black;
       
     }

     .flip-card-back{
        background-color: #2980b9;
        color: white;
    }
}