.kit-instock {

    .list-kit-in-stock {
        margin-top: 30px;
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
    }
    
    .table-kit-stock{
        max-width: 80%;
    }

    .table-kit-container {
        max-width: 100%;
    }

    .name-kit-stock-column {
        max-width: 250px;
    }

    .brand-kit-stock-column {
        max-width: 200px;
    }

    .ref-kit-stock-column {
        max-width: 120px;
    }

    .picture-kit-stock-column {
        max-width: 240px;
    }

    .action-kit-stock-column {
        max-width: 90px;
    }

    .inner-array-text {
        text-align: center;
        color: black;
    }
    .inner-array-text:hover{
        color : blue;
        cursor : zoom-in;
    }

    .kit-stock-picture {
        width: 230px;
    }

    .btn-delete-kit{
        border: none;
    }

    .icon-delete-kit{
        width: 30px;
        height: 30px;
        border: 0;
    }

    .icon-delete-kit:hover{
        color: red;
    }    

    .icon-delete-kit:active{
        transform: scale(80%);
    }

    @media screen and (max-width: 768px) {
        grid-area: 1 / 2 / 1/ 1;

        .table-kit-container {
            width: 100vw;
        }

        .list-kit-in-stock {
            align-items: center;
            justify-content: center;
            flex-direction: column;
        }

        .kit-stock-picture {
            width: 90px;
        }

        .inner-array-text {
            font-size: 0.7rem;
        }
    }
}