.admin-user{

    .table-user{
        width: 50vw;
    }

    .admin-user-title{
        text-align: center;
    }

    .userArray-head{
        width: 150px;
        text-align: center;
        font-weight: bold;
    }
    .select-rank{
        width: 150px;
        height: 2rem;
    }
    .row-user{
        padding:0.7rem;
        text-align: center;
    }
}