.finished-models{

    h2{
        text-align: center;
    }

    .finished-item-name{
        color: black;
    }

    .finished-item-name:hover{
        cursor: zoom-in;
    }

    .list-finished-model{
        width: 100%;
    }

    .icon-photo-finished{
        width: 30px;
        height: 30px;
    }

    .message-in-build{
        width: 30px;
        height: 30px;
    }

    @media screen and (max-width: 768px) {
        grid-area: 1 / 2 / 1/ 1;

        .list-finished-model-container{
            width: 100vw;
        }
    }
}