.footer-page{
    background-color: var(--menu-color);
    padding-left: 20px;
    font-family: var(--title-font);
    color : var(--title-color);
    height: 40px;
    display: flex;
    align-items: center;
    position :fixed;
    bottom: 0px;
    width: 100%;

    .copyright{
        padding-left: 20px;
    }


    
    @media screen and (max-width:1180px){
        font-size: 12px;

        img{
            height: 15px;
        }
    }
}