.kits-management-page {

    .display-image {
        margin :20px 5px;
    }

    h2 {
        text-align: center;
    }

    @media screen and (max-width: 768px) {
        grid-area: 1 / 2 / 1/ 1;
    }
}