.lines{
    display: block;
    border: 1px solid black;
    width: max-content;
    padding: 5px;
    margin: 5px 0;
}
.page{
    display: flex;
}

.characters{
    width: 50%;
    border: 1px solid black;
}