.log-item-container{
    margin-bottom: 20px;
    
    .log-item-value{
        width: 850px;
        max-height: 450px;
        padding: 10px;
        border : 1px solid black;
        overflow: auto;
        overflow-x: scroll;
        word-wrap: none;
        white-space: nowrap;
        font-size: 0.8rem;
    }
    @media screen and (max-width: 768px) {
        .log-item-value{
            width: 320px;
        }
    }
}