.logs{
    .logs-title{
        text-align: center;
    }

    @media screen and (max-width: 768px) {
        grid-area: 1/1/2/2;
        .log-container{
            display: flex;
            justify-content: center;
        }
    }
}